/* This is how you make comments - This Stylesheet is for "COURSE HOMEPAGE CSS" */

body{
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23ffffff' fill-opacity='0.37' fill-rule='evenodd'/%3E%3C/svg%3E");
}
h1{
    background-color:#000000;
     padding:20px;
    border-radius:10px; 
    text-align:center;
    color:#ffffff;
}
nav.primary{
    background-color:#3b3c3b;
    padding:10px;
    border-radius:10px;
}

nav.primary ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 10px;
}

nav.primary ul li{
    list-style-type: none;
}

nav.primary ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
    transition:.5s;
}

nav.primary a:hover{
    background-color: rgba(0,0,0,0.8);
}

@media screen and (max-width:1000px){
    nav.primary ul{
        flex-direction: column;
        gap: 20px;
    }

    nav.primary ul a{
        display: inline-block;
    }

    .container{
        background-color: transparent;
        width: 95vw;
    }
}